.rocks/
var/
!var/.keep
bin/
include/
distfiles/
templates/
modules/
.types/tarantool/generated/
.types/tarantool/bundled/
.idea/workspace.xml
.idea/dataSources/
.idea/dataSources.local.xml
*.snap
*.xlog
*.vylog
